/* Home page style */
#system {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%),
    url(../images/illustrations/solar-system/solar-system@3x.png);
    /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
    url(../images/illustrations/solar-system/solar-system@3x.png);
    /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
    url(../images/illustrations/solar-system/solar-system@3x.png);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
  color: #EEEEEE;
}

.jumbotron {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

/* Explore page style */
#explore {
	background-color: #121212;
	color: #EEEEEE;
	padding-bottom: 4em;
}

.planet-title {
	font-size: 2em;
}

.planet-box {
	margin: 8% 0;
}

.planet-box a{
	color: #EEEEEE;
	font-size: 1em;
	opacity: 0.8;
}

.planet-box a:hover {
	text-decoration: none;
	opacity: 1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  #system {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system.png);
      /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system.png);
      /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system.png);
      /* w3c, ie10+, ff16+, chrome26+, opera12+, safari7+ */
    background-size: cover;
  }

	.jumbotron p {
		font-size: 1.2em;
	}
}

@media only screen and (max-device-width: 768px) {
	.planet-box a {
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	#title-box {
		margin: 27em 0 3em;
	}

	#sun {
		margin-top: 20%;
	}

	#sun img {
		width: 100%;
	}

	#mercury img {
		max-width: 5.5em;
		width: 50%;
	}

	#earth img, #venus img  {
		max-width: 9em;
		width: 65%;
	}

	#mars img {
		max-width: 7em;
		width: 60%;
	}

	#jupiter img {
		max-width: 15em;
		width: 95%;
	}

	#saturn img {
		max-width: 20em;
		width: 100%;
	}

	#neptune img, #uranus img  {
		max-width: 12em;
		width: 80%;
	}

	#explore {
		padding-bottom: 10em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #system {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system@2x.png);
      /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system@2x.png);
      /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%),
      url(../images/illustrations/solar-system/solar-system@2x.png);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover;
  }
}

@media only screen and (min-width: 769px) {
	#uranus span {
		position: relative;
		top: -4.8em;
	}

	#mercury {
		padding-top: 3%;
	}

	#mars {
		padding-top: 1.5%;
	}

	#saturn {
		padding-top: 4%;
	}

	#neptune {
		padding-top: 7%;
	}
}
